body{
    background:#eee;
    color: #708090;
}

*,
*:before,
*:after {
	box-sizing: border-box; /*При расчетё граница входит в контейнер*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0; /*Убирает стандартные отступы у заголовок*/
	text-align: center;
}

p {
	margin: 0 0 10px;
}

.icon-1x {
    font-size: 24px !important;
}

a{
    text-decoration:none;    
}

.text-primary, a.text-primary:focus, a.text-primary:hover {
    color: #00ADBB!important;
}

.text-black, .text-hover-black:hover {
    color: #000 !important;
}

.font-weight-bold {
    font-weight: 700 !important;
}s
