body {
    margin: 0;
	height: 100%;

    font-size: 24px;
    font-family: 'Montserrat', sans-serif;

    background: url(img/background_original.png) no-repeat top;
	background-size: auto auto;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: border-box; /*При расчетё граница входит в контейнер*/
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0; /*Убирает стандартные отступы у заголовок*/
	text-align: center;
}

p {
	margin: 0 0 10px;
}



/*CONTAINER
=================*/
.container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}



/*HEADER
=================*/
.header {
	width: 100%;
	height: 100px;
    
    background-color: #444dd3;
}

.header__inner {
	position: relative;
	display: flex; /*Элементы становятся резиновыми*/
	justify-content: space-between; /*Появится расстоняние между элементами*/
	align-items: center; /*В наешм случае выравнивает навигацию по центру относительно логотипа*/
	padding: 10px 0;
}	



/*NAV
=================*/
.nav {
	display: flex;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase; /*Текст пишется заглавными буквами*/
}

.nav__link {
	float: left;
	display: block;
	text-align: center;
	padding: 14px;

	position: relative;
	margin-left: 45px;
	color: #fafafa;
	cursor: pointer;

	text-decoration: none; /*Убирает подчеркивание снизу ссылки*/
	transition: color 0.1s linear; /*Добавляет замедление для Opacity*/
}

.nav__link::before {
	content: '';
	position: absolute;
	left: 0; 
	bottom: -5px;
	width: 0;
	height: 2.5px;
	background-color: #000000;
  }
  
.nav__link:hover:before {
	width: 100%;
}
  
.nav__link::before {
	transition: width 0.35s;
}

.nav__link:first-child {
	/*Первая дочерная*/
	margin-left: 0;
}

.nav__link:last-child:hover:before {
	width: 0;
}

.nav__link:hover {
	color: #000000;
}

.nav__link--btn {
	padding: 0.66rem 2rem;
	border: 2px solid #000000;
	border-radius: 20px;
	-webkit-transition: background-color 0.2s linear, color 0.2s linear;
	transition: background-color 0.2s linear, color 0.2s linear;
  }
  
.nav__link--btn:hover {
	background-color: #000000;
	color: #ffffff;
}



/*INTRO
=================*/
.intro {
	display: flex;
	padding-top: 50px; /*Создает отступ*/	
}

.intro__inner {
	width: 100%;
	max-width: 970px;
	margin: 0 auto;	
	text-align: center; /*Выравнивает по горизонтали, по центру*/
}

.intro__title_top, .intro__title_bottom {
	font-family: 'Press Start 2P', cursive;
	font-size: 70px;
	line-height: 0.8; /*Настраивает отступы между строками*/
	color: #000000;
	text-transform: uppercase;
	text-shadow:#FAFAFA 2px 2px 2px;
}



/*CONTENT
=================*/
table {
	display: block;
	margin:auto;
	width: 65%;
	margin-top: 1.5em;
	background-color:#fafafa;
	border-radius: 20px;
}

td {
	text-align: center;
	width:20%;
	transition: all 0.5s ease 0s;
}

td:nth-child(2) {
	padding: 0px 10px;
}

td:hover {
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.download__button {
	margin-top: 30px;
	text-align: center;
}

.button__img1 {
	position: absolute;
	z-index: 1000;
}

.button__img2 {
	margin-top: 12px;
	position: relative;
	z-index: 10;
}

.button__img1:hover {
	display: none;
}



/*FOOTER
=================*/
.footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	padding: 20px 0;

	background-color: rgb(15, 12, 29);
}

.footer__text {
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	color: #b1b1b1;
}

.footer__text span {
	color: #fafafa;
}



/*BUTTON
=================*/
.btn {
    display: inline-block;
    min-width: 170px;
    vertical-align: top;
    padding: 1.05em 1.7em;
    border: 2px solid #6a696b;
    border-radius: 1.8em;
    background: none;
    cursor: pointer;
    font-family: inherit;
	font-weight: 600;
    font-size: 1.06rem;
    line-height: 1.1;
    color: #2b2a2c;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    -webkit-transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, color 0.2s linear, border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
    transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, border-color 0.2s linear;
    transition: background-color 0.2s linear, color 0.2s linear, box-shadow 0.2s linear, border-color 0.2s linear, -webkit-box-shadow 0.2s linear;
  }
  
  .btn:focus {
    outline: none;
    /*При фокусе убираем outline*/
  }
  
  .btn:hover {
    background-color: #2b2a2c;
    -webkit-box-shadow: 2px 2px 10px rgba(43, 42, 44, 0.24);
            box-shadow: 2px 2px 10px rgba(43, 42, 44, 0.24);
    color: #ffffff;
    border-color: #2b2a2c;
  }
  
  .btn + .btn {
    margin: 0 0 0 1rem;
  }